<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- -->
    <add key="FilePath" value=""/>

    <!-- The region/location for your Content Moderator account, for example, westus. -->
    <add key="AzureRegion" value="{azureRegion}"/>

    <!-- The base URL fragment for Content Moderator calls.
         The base URL is {azureRegion}.{AzureBaseURL},
         for example, westus.api.cognitive.microsoft.com -->
    <add key="AzureBaseURL" value="api.cognitive.microsoft.com"/>

    <!-- The Ocp-Apim-Subscription-Key for your Content Moderator account. -->
    <add key="SubscriptionKey" value="{subscriptionKey}"/>
  </appSettings>
</configuration>